html {
    overflow-x: hidden;
}

#holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
}


.tracos {
    border-bottom: solid 5px #565656;
    padding: 0 14px;
    margin: 14px 10px;
}

#teclado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tecla {
    width: 1em;
    height: 1em;
    border: solid 1px #565656;
    margin: 1em;
}

.btn-container {
    flex-direction: column;
    width: 100%;
}

.btn-blue {
    height: 3em;
}

.btn {
    height: 3em;
}

@media (min-width: 768px) {
    #jogo {
        max-width: 1200px;
        max-height: 800px;
    }

    .btn-container {
        display: block;
        text-align: center;
    }

    .btn-blue {
        margin-right: 1em;
    }
}

@media (min-width: 1024px) {
    #jogo {
        width: 50%;
    }

    .btn-container {
        position: relative;
        margin-top: 3em;
    }
}